/*

-------- MAIN ---------
- Partial files begin with an underscore and are not mapped into css files by the Live SASS Compiler extension
- (1) Partial files are imported in this format. Does not include the underscore or .scss
- (2) Using the @include directive, mixins can be applied at the root level or within selectors
- (3) The fancy-links mixin accepts an argument that doesnt have a default assigned.
- (4) The 'box' mixin contains two parameters that both contain defaults. From here, I can: 
      - Add no parameters
      - Add two parameters
      - Add the first parameter ($radius)
     *- Add the second parameter ($border) by definining the parameter, followed by property values
      - Add the parameters in reverse order, as long as the parameters are defined
- (5) Hyphenated properties (font-family + font-weight) can be embedded on their similar first keyword as displayed here.
- (6) The box-shadow mixin contains a variable argument, and I can pass in as many parameters as I would like
- (7) the apply-to-ie-6 mixin contains a @content directive to the the html tag. any stlyes included within this @include directive will apply only to the IE 6 browser

*/
/*

---------- MIXINS ------------
- Mixins are reusable chunks of code that can be used throughout stylesheets
- Mixins can be created directly in my stylesheet, or imported from outside frameworks/libraries
- Use @include to apply all properties of a mixin on the root level or within a selector
- (1) Mixins can accept variable arguments and applied with a value when they're used
- (2) Mixins can include other already defined mixins
- (3) An embedded mixin with an argument would have it's argument also passed into its parent mixin.
- (4) Mixins can embed root level selectors with their own selectors 
- (5) Mixins with arguments can either be left empty as seen in (2) or include a default parameter that can be overwritten.
- (6) the box-shadow mixin contains a variable argument (...), which means it can take multiple arguments
- (7) The @content directive will apply the content of the mixin after it is includedvia the @include directive. (*note: This mixin applys only to IE 6, and the * html selector only applies to this browser.) 
*/
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
a {
  font-style: italic;
  text-decoration: none;
}

* html body {
  font-size: 125%;
}

body {
  font-family: "Allegreya Sans", Arial, sans-serif;
  font-weight: normal;
  color: #222222;
}

h1, h2, h3, h4 {
  font-family: "Titillium Web", Georgia, serif;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-family: "Allegreya Sans", Arial, sans-serif;
}

a {
  color: #f27731;
}

.warning-button {
  background-color: orange;
  color: white;
  padding: 8px 12px;
}

#header {
  border-radius: 6px;
  border: 2px solid #333;
  box-shadow: 2px 0px 4px #999, 1px 1px 6px #f27731;
  -moz-box-shadow: 2px 0px 4px #999, 1px 1px 6px #f27731;
  -webkit-box-shadow: 2px 0px 4px #999, 1px 1px 6px #f27731;
  height: 60px;
  background-color: #170a48;
}

#header #main-menu li {
  display: inline;
}

#header #main-menu a {
  color: white;
}

#main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  height: 90px;
  background-color: #ccf962;
}
/*# sourceMappingURL=main.css.map */