/*

-------- MAIN ---------
- Partial files begin with an underscore and are not mapped into css files by the Live SASS Compiler extension
- (1) Partial files are imported in this format. Does not include the underscore or .scss
- (2) Using the @include directive, mixins can be applied at the root level or within selectors
- (3) The fancy-links mixin accepts an argument that doesnt have a default assigned.
- (4) The 'box' mixin contains two parameters that both contain defaults. From here, I can: 
      - Add no parameters
      - Add two parameters
      - Add the first parameter ($radius)
     *- Add the second parameter ($border) by definining the parameter, followed by property values
      - Add the parameters in reverse order, as long as the parameters are defined
- (5) Hyphenated properties (font-family + font-weight) can be embedded on their similar first keyword as displayed here.
- (6) The box-shadow mixin contains a variable argument, and I can pass in as many parameters as I would like
- (7) the apply-to-ie-6 mixin contains a @content directive to the the html tag. any stlyes included within this @include directive will apply only to the IE 6 browser

*/
/*

---------- MIXINS ------------
- Mixins are reusable chunks of code that can be used throughout stylesheets
- Mixins can be created directly in my stylesheet, or imported from outside frameworks/libraries
- Use @include to apply all properties of a mixin on the root level or within a selector
- (1) Mixins can accept variable arguments and applied with a value when they're used
- (2) Mixins can include other already defined mixins
- (3) An embedded mixin with an argument would have it's argument also passed into its parent mixin.
- (4) Mixins can embed root level selectors with their own selectors 
- (5) Mixins with arguments can either be left empty as seen in (2) or include a default parameter that can be overwritten.
- (6) the box-shadow mixin contains a variable argument (...), which means it can take multiple arguments
- (7) The @content directive will apply the content of the mixin after it is includedvia the @include directive. (*note: This mixin applys only to IE 6, and the * html selector only applies to this browser.) 
*/
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
a {
  font-style: italic;
  text-decoration: none;
}

* html body {
  font-size: 125%;
}

.col-1 {
  width: 2em;
}

.col-2 {
  width: 4em;
}

.col-3 {
  width: 6em;
}

.col-4 {
  width: 8em;
}

.col-5 {
  width: 10em;
}

.col-6 {
  width: 12em;
}

.tiny {
  font-size: 8px;
}

.small {
  font-size: 11px;
}

.medium {
  font-size: 13px;
}

.large {
  font-size: 18px;
}

.bob-banker-profile {
  background-image: url("/iimg/bob-banker.png");
}

.patty-plume-profile {
  background-image: url("/iimg/patty-plume.png");
}

.sandra-smith-profile {
  background-image: url("/iimg/sandra-smith.png");
}

.picture-2 {
  width: 20%;
}

.picture-4 {
  width: 40%;
}

.picture-6 {
  width: 60%;
}

.picture-8 {
  width: 80%;
}

.error, .critical-error, .cta-button, .super-cta-button {
  color: red;
}

.critical-error {
  bottom: 1px solid red;
  font-weight: bold;
}

body {
  font-family: "Allegreya Sans", Arial, sans-serif;
  font-size: 1.125em;
  background-color: #22222a;
  color: #fff;
}

@media only screen and (max-width: 960px) {
  body {
    font-size: 125%;
  }
}

h1, h2, h3, h4 {
  font-family: "Titillium Web", Georgia, serif;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-family: "Allegreya Sans", Arial, sans-serif;
}

a {
  color: #c24721;
}

a:hover {
  color: #812f16;
}

.sub-title {
  font-style: italic;
}

.sub-title {
  font-size: 1.25em;
}

.warning-button, .cta-button, .super-cta-button {
  background-color: #c24721;
  color: #fff;
  padding: 8px 12px;
}

.warning-button:hover, .cta-button:hover, .super-cta-button:hover {
  background-color: #dd6039;
}

.cta-button, .super-cta-button {
  border-radius: 8px;
  font-weight: bold;
}

.super-cta-button {
  font-size: 1.25em;
}

#header {
  border-radius: 6px;
  border: 2px solid #333;
  box-shadow: 2px 0px 4px #999, 1px 1px 6px #c24721;
  -moz-box-shadow: 2px 0px 4px #999, 1px 1px 6px #c24721;
  -webkit-box-shadow: 2px 0px 4px #999, 1px 1px 6px #c24721;
  height: 60px;
  background-color: #42424a;
}

#header #main-menu li {
  display: inline;
}

#header #main-menu a {
  color: #fff;
  padding: 6px 8px;
  border-bottom: 1px solid rgba(254, 254, 254, 0);
  -webkit-transition: border-bottom .5s;
  transition: border-bottom .5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#header #main-menu a:hover {
  border-bottom: 1px solid #fefefe;
}

#main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 960px) {
  #main {
    width: auto;
    max-width: 960px;
  }
}

#main #content {
  float: left;
  width: 69.75%;
}

#main #sidebar {
  float: right;
  width: 23.25%;
}

#main #sidebar li {
  list-style-type: none;
  padding: 1em 1.25em;
  border-bottom: 1px dashed #999;
}

#main #sidebar li:hover {
  background-color: #42424a;
}

#footer {
  clear: both;
  height: 90px;
  background-color: #698932;
  border-top: 5px solid #3e511e;
}
/*# sourceMappingURL=main.css.map */